<style>
  label { width: 100px; vertical-align: middle;}
</style>

<h2>Add a New Place</h2>

<%= form_tag places_url :method => :post do %>
  <p><label for="title">Title:</label> <input name="title" id="title" size="30"></p>
  <p><label for="url">Photo URL:</label> <input name="url" id="url" size="80"></p>
  <p><label for="price">Price:</label> <input name="price" id="price"></p>
  <p><label for="desc">Description:</label></p>
  <textarea name="desc" id="desc" cols="80" rows="3"></textarea>
  <p><button>Submit</button></p>
<% end %>
